<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>Archetype Created Web Application</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>com.snap.controller.Admin</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>User</servlet-name>
    <servlet-class>com.snap.controller.User</servlet-class>
  </servlet>
  <servlet>
    <description>
  	</description>
    <display-name>Filter</display-name>
    <servlet-name>Filter</servlet-name>
    <servlet-class>com.snap.controller.Filter</servlet-class>
  </servlet>
  <servlet>
    <description>
  	</description>
    <display-name>FilterComp</display-name>
    <servlet-name>FilterComp</servlet-name>
    <servlet-class>com.snap.controller.FilterComp</servlet-class>
  </servlet>
  <servlet>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.snap.controller.LoginController</servlet-class>
  </servlet>
  
  <servlet>
    <display-name>Cert</display-name>
    <servlet-name>Cert</servlet-name>
    <servlet-class>com.snap.controller.CertController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cert</servlet-name>
    <url-pattern>/Cert</url-pattern>
  </servlet-mapping>
  
  
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/AdminAdd</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/AdminDelete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/AdminView</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/AdminAddPath</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/VaultDeleteUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/VaultPolicyView</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/VaultPolicyDelete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/VaultPolicyCreate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/AllPolicy</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>User</servlet-name>
    <url-pattern>/User</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>User</servlet-name>
    <url-pattern>/UserResetPassword</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>User</servlet-name>
    <url-pattern>/UserForgetPassword</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>User</servlet-name>
    <url-pattern>/UserDelete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>User</servlet-name>
    <url-pattern>/UserModify</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>User</servlet-name>
    <url-pattern>/UserView</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Filter</servlet-name>
    <url-pattern>/FilterAddKeyValue</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Filter</servlet-name>
    <url-pattern>/FilterDeleteKeyValue</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Filter</servlet-name>
    <url-pattern>/FilterViewKeyValue</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Filter</servlet-name>
    <url-pattern>/FilterComponent</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FilterComp</servlet-name>
    <url-pattern>/DeleteComponent</url-pattern>
  </servlet-mapping>
   <listener>
    <listener-class>
       com.snap.contextlistener.MyAppServletContextListener
    </listener-class>
  </listener>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
</web-app>